@using community.Models @using community.Models.ViewModels.GroupViewModels @model community.Models.ViewModels.GroupViewModels.GroupIndexVM
<h2>Groups</h2>

<form id="createGroup" action="/Group/CreateGroup" method="post" class="form-horizontal">
	<input name="groupTitle" type="text" class="form-control" />
	<button type="submit" class="btn btn-default">Create Group</button>
</form>
<script>

$( "#createGroup" ).submit(function( event ) {
 
  event.preventDefault();
 

  var $form = $( this ),
    groupTitle2 = $form.find( "input[name='groupTitle']" ).val(),
    url = $form.attr( "action" );
 
  var posting = $.post( url, { groupTitle: "groupTitle"} );
 
  // Put the results in a div
  //posting.done(function( data ) {
  //  var content = $( data ).find( "#content" );
  //  $( "#result" ).empty().append( content );
  //});
});
</script>

<table class="table">
	@foreach (var grp in Model.Groups) {
	<tr>`
		<td>
			@Html.DisplayFor(groupTitle => grp.Title)
		</td>
		<td>
			<form id="viewGroup" action="/Group/ViewGroup" method="post" class="form-horizontal">
				<input name="groupId" type="hidden" value="@grp.GroupId" />
				<button type="submit" class="btn btn-default">View Group</button>
			</form>
		</td>
		<td>
			<form id="joinGroup" action="/Group/JoinGroup" method="post" class="form-horizontal">
				<input name="groupId" type="hidden" value="@grp.GroupId" />
				<button type="submit" class="btn btn-default">Join Group</button>
			</form>
		</td>
	</tr>
	}

</table>
<script>

$( "#viewGroup" ).submit(function( event ) {
 
  event.preventDefault();

  var $form = $( this ),
    groupTitle2 = $form.find( "input[name='groupTitle']" ).val(),
    groupId2 = $form.find("input[name='groupId']").val(),

    url = $form.attr( "action" );
 
  var posting = $.post( url, { groupId: "groupId"} );
 
  // Put the results in a div
  //posting.done(function( data ) {
  //  var content = $( data ).find( "#content" );
  //  $( "#result" ).empty().append( content );
  //});
});
</script>

<script>
$( "#joinGroup" ).submit(function( event ) {
 
  event.preventDefault();
 

  var $form = $( this ),
    groupTitle2 = $form.find( "input[name='groupTitle']" ).val(),
    groupId = $form.find("input[name='groupId']").val(),
    url = $form.attr( "action" );
 
  var posting = $.post( url, { groupId: "groupId"} );
 
  // Put the results in a div
  //posting.done(function( data ) {
  //  var content = $( data ).find( "#content" );
  //  $( "#result" ).empty().append( content );
  //});
});
</script>