@using community.Models @using community.Models.ViewModels.GroupViewModels @model community.Models.ViewModels.GroupViewModels.GroupIndexVM
@{ Layout = "~/Views/Shared/_Layout.cshtml"; }

<h2>Groups</h2>

<form id="createGroup" action="/Group/CreateGroup" method="GET" class="form-horizontal">
	<input name="groupTitle" type="text" class="form-control" />
	<button type="submit" class="btn btn-default">Create Group</button>
</form>




<table id="groupsTable" class="table">
	@foreach (var grp in Model.Groups) {
	<tr>`
		<td>
			@Html.DisplayFor(groupTitle => grp.Title)
		</td>
		<td>
			<viewGroup>
				<button id="viewGroup" type="button" name="grpId" value="@grp.GroupId" class="btn btn-default">View Group</button>
			</viewGroup>
		</td>
		<td>
			<joinGroup>
				<button id="joinGroup" type="button" name="grpId" value="@grp.GroupId" class="btn btn-default">Join Group</button>
			</joinGroup>
		</td>
	</tr>
	}

</table>

<div id="bb"></div>

@section scripts {
<script>
$( "#createGroup" ).submit(function( event ) {
 
  event.preventDefault();
 

  var $form = $( this ),
    groupTitle2 = $form.find( "input[name='groupTitle']" ).val(),
    url = $form.attr( "action" );
 
  var posting = $.post( url, { groupTitle: groupTitle2} );
 
  posting.done(function( data ) {
 
        var GroupId = data.groupId;
        var Title = data.title;
  
      
      $( "#groupsTable" ).append('<tr><td>'+Title+'</td><td><viewGroup><button id="viewGroup" type="button" name="grpId" value='+GroupId+' class="btn btn-default">View Group</button></viewGroup></td><td><joinGroup><button id="joinGroup" type="button" name="grpId" value='+GroupId+' class="btn btn-default">Join Group</button></joinGroup></td></tr>');

  });
});




$( "table" ).on("click","viewGroup", function( event ) {
 
  event.preventDefault();

  var url = "/Group/ViewGroup";
  var a = $( this ).find( "button[name='grpId']" ).val();
	//alert("tt");
	$("*").children().load(url,{ groupId: a});
  //var posting = $.post( url, { groupId: a} );
	
 
 
});

$( "table" ).on("click","joinGroup", function( event ) {
 
  event.preventDefault();


  var url ="/Group/JoinGroup";
  var a = $( this ).find( "button[name='grpId']" ).val();
  var posting = $.post( url, { groupId: a} );

});
</script> }