@using webNumberTwo.Models
@model webNumberTwo.Models.Conference

@{
    ViewData["Title"] = "Conferences";
}
<h2>@Model.Name</h2>

<ul>
    @foreach (var session in @Model.Sessions){
        <li>@session.Title</li>
    }
</ul>

