@using community.Models @using community.Models.ViewModels @model community.Models.ViewModels.SendMessageVM @{ Layout = "~/Views/Shared/_Layout.cshtml";
}

<form id="writeMsg" action="/SendMessages/CreateMessage" method="post" class="form-horizontal">

	<input name="destId" type="text" class="form-control" />
	<input name="destName" type="text" class="form-control" />
	<H5>Message: </H5>
	<input name="textArea" type="text" class="form-control" />
	<!--<input name="groupTitle" type="text" class="form-control" />-->
	<!--<button type="submit" class="btn btn-default">Create Group</button>-->
	<button type="submit" class="btn btn-default">Create Group</button>
</form>
<select>
  <option value="volvo">Volvo</option>
  <option value="saab">Saab</option>
  <option value="mercedes">Mercedes</option>
  <option value="audi">Audi</option>
</select>


<table class="table">
	@foreach (var msg in Model.DestinationInfo) {
	<tr>
		<td>
			@Html.DisplayFor(modelMsg => msg.isGroup)
		</td>
		<td>
			@Html.DisplayFor(modelMsg => msg.destinationId)
		</td>
		<td>
			@Html.DisplayFor(modelMsg => msg.destinationName)
		</td>
	</tr>
	}

</table>



<div id="disphere"> text to replace</div>
@section scripts {
<script>

$( "#writeMsg" ).submit( function( event ) {
    event.preventDefault();
    var $form = $( this ),
    destId1 = $form.find( "input[name='destId']" ).val(),
    destName1 = $form.find( "input[name='destName']" ).val(),
    textArea1 = $form.find( "input[name='textArea']" ).val(),
    url1 = $form.attr( "action" );
  var data = {
      destinations : {
          isGroup : false,
          destinationId : destId,
          destinationName : destName
       },
       textArea : textArea
  };

  var url1 = "/SendMessages/CreateMessage";
  var posting = $.post({
      type: "POST",
      url: url1,
      data: JSON.stringify(data),
      contentType:  "application/json",
      dataType: "json",
      success: function(msg) {
          //$("#disphere").html("New name: " + msg.name + " data: " + msg.myData )
          alert(msg.text);
      }
  });
  
  
  // Send the data using post
  //var posting = $.post( url, { text: "message",groupId: "lol" } );
});
</script> }