@using community.Models @using community.Models.ViewModels @model community.Models.ViewModels.SendMessageVM 
@{ Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="table">
	<tr>
		<td>
			<select id="destSelect">
                @foreach (var dest in Model.DestinationInfo) {<option value="@dest.isGroup|@dest.destinationId|@dest.destinationName">@dest.destinationName</option>}
            </select>
		</td>
		<td>
			<button id="addRecipient" type="button" class="btn btn-default">Add Recipient</button>
		</td>
		<td>
			<button id="clearRecipients" type="button" class="btn btn-default">Clear Recipients</button>
		</td>
	</tr>
</table>

<div id="recipientsToSend"></div>
<form id="writeMsg" action="/SendMessages/CreateMessage" method="post" class="form-horizontal">
	<H5>Title: </H5>
	<input id="titleTextField" name="title" type="text" class="form-control" />
	<H5>Message: </H5>
	<input id="textAreaTextField" name="textArea" type="text" class="form-control" />

	<button type="submit" class="btn btn-default">Send Message</button>
</form>



<div id="disphere"> </div>

@section scripts {

<script>

    var recipients = [];
    var reciepientsNames = "";

    function clearFields() {
        recipients.length = 0;
        reciepientsNames = "";
        $("#disphere").html(" ");
        $("#recipientsToSend").html(reciepientsNames);
        
        var form = document.getElementById("writeMsg");
        form.reset();

    }       



$( "#writeMsg" ).submit( function( event ) {
    event.preventDefault();
    var $form = $( this );
    var destId1 = $form.find( "input[name='destId']" ).val();
    var destName1 = $form.find( "input[name='destName']" ).val();
    var title1 = $form.find( "input[name='title']" ).val();
    var textArea1 = $form.find( "input[name='textArea']" ).val();
    var mysel = $("#destSelect option:selected").text();
    var myselval = $("#destSelect option:selected").val();

  var data = {
      destinations : recipients,
       textArea : textArea1,
       title : title1,
  };

  var url1 = "/SendMessages/CreateMessage";
  var posting = $.post({
      type: "POST",
      url: url1,
      data: JSON.stringify(data),
      contentType:  "application/json",
      dataType: "json",
      success: function(resp) {
          if(resp.wasSent == true) {

          
            var msg = resp.towho;
            var dests = "";
            msg.destinations.forEach(function(entry) {
                dests = dests.concat(entry.destinationName);
                dests = dests.concat(", ")
            });
             clearFields();
             $("#disphere").html("Meddelande avsänt till "+ dests.toString() + "," + msg.timeStamp);
          }else {
              clearFields();
              $("#disphere").html("Failed to send message: " + resp.errorMsg);
              
          }


      }
  });

});

$( "#addRecipient" ).click( function( event ) {
    event.preventDefault();
    var valueString = $("#destSelect option:selected").val();
    var res = valueString.split("|");
    var selectedIsGroup = res[0];
    var selectedId = res[1];
    var selectedName = res[2];
    var newDestination = {
          isGroup : selectedIsGroup,
         destinationId : selectedId,
          destinationName : selectedName
    };
    
    recipients.push(newDestination);
    reciepientsNames = reciepientsNames.concat(selectedName);
    reciepientsNames = reciepientsNames.concat(", ");


    $("#recipientsToSend").html(reciepientsNames);

});

$( "#clearRecipients" ).click( function( event ) {
    //alert("Clearing recipients");
    event.preventDefault();
    recipients.length = 0;
    reciepientsNames = "";
    $("#disphere").html(" ");
    $("#recipientsToSend").html(reciepientsNames);
});


</script> }