@model community.Models.ViewModels.HomeVM

@{
    ViewData["Title"] = "Home Page";
    ViewData["UserName"] = "Display UserName here";
    ViewData["AboutUser1"] = "Something about user 1";
    ViewData["AboutUser2"] = "Something about user 1";
    ViewData["AboutUser3"] = "Something about user 1";
}

<h2>@Model.UserName</h2>

<a asp-area="" asp-controller="ReadMessages" asp-action="Index">Read Messages</a>

    <!--<div class="col-md-3">
        <h2>Application uses</h2>
        <ul>
            <li>Sample pages using ASP.NET Core MVC</li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=518007">Gulp</a> and <a href="https://go.microsoft.com/fwlink/?LinkId=518004">Bower</a> for managing client-side libraries</li>
            <li>Theming using <a href="https://go.microsoft.com/fwlink/?LinkID=398939">Bootstrap</a></li>
        </ul>
    </div>-->
