@model community.Models.ViewModels.HomeVM

@{
    ViewData["Title"] = "Home Page";
    ViewData["UserName"] = "Display UserName here";
    ViewData["AboutUser1"] = "Something about user 1";
    ViewData["AboutUser2"] = "Something about user 1";
    ViewData["AboutUser3"] = "Something about user 1";
}

<h4>@Model.UserName</h4>
<h5>Latest login at: @Model.TimeStamp</h5>
<h5>Number of logins this month: @Model.noOfLoginThisMonth</h5>
<h5>Number of unread messages: @Model.UnreadMessages</h5>
<h5><a asp-area="" asp-controller="ReadMessages" asp-action="Index">Read Messages</a></h5>
