@using community.Models @using community.Models.ViewModels.ReadMessageViewModels @model community.Models.ViewModels.ReadMessageViewModels.ReadInboxVM 
@{ Layout = "~/Views/Shared/_Layout.cshtml"; }

 @foreach (var from in Model.incomingFrom ) {
   
}

<table class="table">
	@foreach (var from in Model.incomingFrom ) {

	<tr>
		<td>
			@Html.DisplayFor(modelMsg => from.senderName)
		</td>
		<td>
			@Html.DisplayFor(modelMsg => from.recevedCount)
		</td>
		<td>
			@Html.DisplayFor(modelMsg => from.senderId)
		</td>
		<td>

			 <form id="ReadFromSender" action="/ReadMessages/ReadFromSender/@from.senderId" method="post" class="form-horizontal">
	            <button type="submit" class="btn btn-default">check it out</button>
            </form>

		</td>
	</tr>

	}
</table>

<form id="ReadAllMessages" action="/ReadMessages/ReadAllMessages" method="post" class="form-horizontal">
	<button type="submit" class="btn btn-default">Show all messages</button>
</form>